<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UpdateMemberForm</title>
</head>
<body>
    <h1>비밀번호 변경</h1>
    <hr>
    <!--MemberController 에서 memberUpdateForm 을 전달받았음. -->
    <form action="/member/update" method="post" th:object="${memberUpdateForm}">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">
                전체 오류 메시지
            </p>
        </div>


        <!--비밀번호 입력-->
        새로운 비밀번호 : <input type="password" th:field="*{password}">
        <div th:errors="*{password}">비밀번호 관련 에러 메시지</div>
        <br>

        <!--변경 버튼-->
        <button type="submit">변경</button>
        <!--취소 버튼-->
        <button type="button" onclick="location.href='/'" >취소</button>
    </form>

</body>
</html>