<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>list</title>
</head>
<body>
    <h1>아이템 리스트</h1>
    <hr>
    <a href="/item/add"><button>아이템 등록</button></a>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th>상세보기</th>
        </tr>
        <tr th:each="item : ${items}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td><a th:href="@{'/item/' + ${item.id}}"><button>상세보기</button></a></td>
        </tr>
    </table>
</body>
</html>